In [1]:
import pandas as pd
import numpy as np

In [2]:
Pymoli = "Resources/purchase_data.csv"

In [3]:
pymoli_df = pd.read_csv(Pymoli)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
user_data = pymoli_df['SN'].value_counts()
user_data_total = user_data.count()
print("Total Number of Players")
user_data_total

Total Number of Players

576

In [5]:
item_count = pymoli_df["Item Name"].value_counts()
item_count_total = item_count.count()
print("Total Number of Items")
item_count_total

Total Number of Items

179

In [8]:
purchase_price = pymoli_df["Price"].mean()
purchase_price.style.format(("Price", "${:20,.0f}"))
print("Average Purchase Price")
print(purchase_price)

AttributeError: 'float' object has no attribute 'style'

In [ ]:
purchases = pymoli_df["Purchase ID"].value_counts()
total_purchases = purchases.count()
print("Total Purchases")
total_purchases

In [ ]:
total_revenue = pymoli_df["Price"].sum()
print("Total Revenue")
pymoli_df["Price"].sum()

In [ ]:
grouped_pymoli_df = pymoli_df.groupby(['Gender']).count()
gender_percent = (
    (grouped_pymoli_df(['Gender']).count())
    /(grouped_pymoli_df.count())
pd.Series(["{0:.2f}%".format(val * 1) 
           for val in grouped_pymoli_df('Purchase ID') 
           index = grouped_pymoli_df.index))